/* Hide close tab button */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button {
    display:none !important;
}

/* Transparent Window */
#main-window {
	background: transparent !important;
	border: none !important;
}

/* Transparent tabbar */
.toolbar-items {
	background-color: transparent !important;
}
.tab-background {
	border: none !important;
	background: transparent !important;
}

