configuration {
	width: 30;
	lines: 10;
	font: "DejaVu Sans Mono 12";
	bw: 0;
	hide-scrollbar: true;
	fake-transparency: true;
/*	theme: ;*/
	color-normal: "#111, #819396, #222, #008ed4, #ffffff";
	color-urgent: "#002b37, #da4281, #003643, #008ed4, #890661";
	color-active: "#002b37, #008ed4, #003643, #008ed4, #66c6ff";
	color-window: "#000, #000, #000";
}
